main .row .menu a img {
  width: 180px;
  cursor: pointer;
}

main {
  padding: 40px;
}

main div .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

main div .pulsante {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
