<!-- Counter + 10: {{ counter + 10 }}
sum(3, 6): {{ sum(3, 6) }} -->

<!-- <h1>{{ counter }}</h1>
<div [ngClass]="counter > 5 ? 'red' : 'blue'">
  Counter is {{ counter > 5 ? "too high" : "too low" }}
</div>

<button (click)="inc()">+</button>
<button (click)="counter = counter - 1">-</button>
<br />
<br />
<br />
<button [hidden]="url" (click)="renderImage()">Load</button>
<button [hidden]="!url" (click)="nullifyImage()">unLoad</button>
<hr />

<div *ngIf="url">
  <button (click)="heightValue = heightValue + 10">+</button>
  <button (click)="heightValue = heightValue - 10">-</button>
</div>
<hr />
<img [height]="heightValue" [src]="url" /> -->
<h1>Referenti progettuali</h1>
<tabbar
  [active]="current"
  [items]="colleghi"
  (onTabClick)="mostra($event)"
></tabbar>
<hr />
<nominativi [nome]="current.nome" [cognome]="current.cognome"></nominativi>
