.titolo_collega {
  display: flex;
  text-align: center;
  padding-top: 10px;
}
.date_collega,
.ricerca_collega {
  padding-top: 20px;
}
.date_collega {
  display: flex;
  justify-content: center;
}
.ricerca_collega {
  display: flex;
  justify-content: center;
  /* text-align: right; */
}

.pulsante_presenze_indietro,
.pulsante_presenze_cerca {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 200px;
}

.pulsanti li {
  list-style-type: none;
}

.note {
  margin-left: 40px;
  margin-top: 10px;
  width: 200px;
  font-size: 12px;
}

.pulsante_presenze_indietro a {
  text-decoration: none;
  font-weight: bold;
  color: #ef7d00;
}
ul {
  margin: 0;
  padding: 0;
}
.pulsante_presenze_indietro ul {
  margin-top: 10px;
}
