header {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding: 0px 10%;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  list-style-type: none;
  display: inline-block;
}

.header_icons {
  font-size: 20px;
  text-align: left;
  display: flex;
  align-items: center;
}

.header_icons i {
  padding: 1px;
}

.header_benvenuto ul {
  width: 100%;
}
.header_benvenuto {
  display: flex;
  align-items: center;
  text-align: right;
  font-weight: bold;
  font-size: 16px;
}

.header_logo img {
  width: 300px;
  cursor: pointer;
  padding-top: 10px;
}

.header_logo {
  text-align: center;
  display: flex;
  align-items: center;
}

.menu-mobile {
  display: none;
}

/* SMALL LAPTOP */
@media only screen /*and (min-width: 1025px) */ and (max-width: 1366px) {
}
/* TABLET */
@media only screen and (max-width: 1280px) {
  .header_benvenuto li span {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  header {
    min-height: auto;
    position: relative;
  }
  .menu-mobile {
    display: block;
    width: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .header_icons,
  .header_benvenuto {
    display: none;
  }
}
/* MOBILE */
@media only screen and (max-width: 767px) {
}
