.titolo_postazione {
  padding-top: 20px;
}
.container_data {
  padding-top: 30px;
}

.titolo_postazione,
.pulsante_postazione,
.container_data {
  display: flex;
  justify-content: center;
}
.pulsante_postazione {
  padding-top: 30px;
}
