.titolo_presenze {
  display: flex;
  text-align: center;
  padding-bottom: 50px;
}
.date_presenze_inzio,
.date_presenze_fine {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.date_presenze_inzio {
  display: flex;
  text-align: left;
}
.date_presenze_fine {
  display: flex;
  text-align: right;
}
