* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #f9fbfc;
}

i {
  color: black;
  font-size: 20px;
}

i:hover {
  color: #ef7d00;
}

.myButton {
  box-shadow: 2px 3px 0px 0px rgb(197, 201, 177);
  background-color: #ededed;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 13px;
  padding: 7px 31px;
  text-decoration: none;
  border-radius: 50px;
}

.myButton:hover {
  background-color: #bab1ba;
  color: white;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.myButton_orange {
  background: linear-gradient(to bottom, #ff8605 5%, #ff8640 100%);
}
.myButton_orange:hover {
  background: linear-gradient(to bottom, #ff8640 5%, #ff8605 100%);
}

.myButton_green {
  background: linear-gradient(to bottom, #50b433 5%, #50b468 100%);
}
.myButton_green:hover {
  background: linear-gradient(to bottom, #50b468 5%, #50b433 100%);
}

.extended {
  padding: 10px 130px;
}
.super-extended {
  padding: 10px 140px;
}

h1,
h2 {
  font-family: "Arial Grassetto", "Arial Normale", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #6d6363;
}

h2 {
  font-size: 14px;
}

h1 {
  font-size: 16px;
}

header {
  min-height: 10vh;
}

.main {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

footer {
  min-height: 20vh;
}
