header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}
header li {
  list-style-type: none;
  display: inline-block;
}
.header_icons {
  font-size: 20px;
}
.header_icons i {
  padding: 1px;
}

.header_benvenuto {
  font-weight: bold;
  font-size: 14px;
}
.header_benvenuto i {
  padding: 2px;
  font-size: 20px;
}
