section {
  padding: 10px 10%;
}

section img {
  width: 165px;
  height: 100%;
}
.pulsante {
  display: flex;
  justify-content: flex-end;
  padding: 50px 50px 50px 650px;
  font-family: ;
}
.myButton {
  box-shadow: 2px 3px 0px 0px rgb(197, 201, 177);
  background: linear-gradient(to bottom, #ff8605 5%, #ff8640 100%);
  background-color: #ededed;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 17px;
  padding: 5px 28px;
  text-decoration: none;
}
.myButton:hover {
  background: linear-gradient(to bottom, #ff8640 5%, #ff8605 100%);
  background-color: #bab1ba;
  color: white;
}
.myButton:active {
  position: relative;
  top: 1px;
}
